{
  "printWidth": 120, // Augmente la largeur maximale avant un retour à la ligne
  "tabWidth": 2,     // Définit la largeur des tabulations
  "useTabs": false,  // Utilise des espaces au lieu des tabulations
  "htmlWhitespaceSensitivity": "ignore", // Minimise les sauts de ligne dans HTML
  "bracketSameLine": true, // Les balises fermantes restent sur la même ligne
  "printWidth": 120,
  "proseWrap": "never"

}